################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/DxLib_Template/x64/Debug
/x64/Debug
/Log.txt
/screenshot
/imgui.ini
/2D_Action_Game/x64/Debug
/enc_temp_folder/14d61ef106dfe9e659ed8a491e177
/enc_temp_folder/5a481626a041b6635cfb4129e77db1fb
