################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/DxLib_Template/x64/Debug
/x64/Debug
/Log.txt
/screenshot
/imgui.ini
/2D_Action_Game/x64/Debug
